[submodule "external/cclib"]
	path = external/cclib
	url = https://github.com/felixplasser/cclib.git
[submodule "external/orbkit"]
	path = external/orbkit
	url = https://github.com/felixplasser/orbkit.git
[submodule "external/colt"]
	path = external/colt
	url = https://github.com/MFSJMenger/colt.git
[submodule "external/periodictable"]
	path = external/periodictable
	url = https://github.com/pkienzle/periodictable.git
