body {background-color:#ffffff; ; font-family:Cambria,Times New Roman,serif;
border:0px solid; margin:0pt; padding:0px;}

td.menu {background-color:#99CC33; color:#eeeeee; width:200px; vertical-align:top; padding:10px;}
td.title {background-color:#CCCC99; color:#000000;}
td.main {background-color:#FFFFCC; vertical-align:top; padding:15px;}
td.progname {font-weight:bold;}
td.progdescr {font-style:italic;}

p {text-indent:1em;}

h2 {font-family:Lucida Fax,Times New Roman,serif;}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}

span.year {font-weight:bold;}
span.journal {font-style:italic;}